@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -5px);
    }
    
    100% {
        transform: translate(0, 0);
    }
}

.onboarding__backdrop {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity .3s ease-in-out;
}

.onboarding {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation: float 2s infinite ease;
    transition: opacity .3s ease-in-out;
}

.onboarding__container {
    width: 90%;
    margin: 0 auto;
    padding: 0 16px;
}

.onboarding--fade-out {
    opacity: 0;
}

.onboarding__controls-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.onboarding__button-container {
    display: flex;
    justify-content: center;
}

.onboarding__button {
    margin: 4px;
    border-radius: 4px;
    padding: 32px;
}

.onboarding__button--space {
    margin: 8px 4px;
    border-radius: 4px;
    padding: 16px 128px;
}

.onboarding__button:hover, .onboarding__button:active  {
    background: #ffffff;
}

.onboarding__hint {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .onboarding, .onboarding__backdrop {
        display: none;
    }
}

.onboarding__contacts {
    margin: 0 0 32px;
    text-align: right;
}

.onboarding__contact-item {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 8px 0;
}

.onboarding__contact-item:hover {
    color: blue;
}
